body {
  height: 300px;
}

.top {
  background-image: url("/images/BackgroundSubHeader.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 0;
  padding: 0;
}

.search {
  height: 35px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-bar {
  flex-direction: row-reverse;
  max-height: 30px;
  max-width: 420px;
}
.searchButton {
  max-height: 35px;
}

.w-h-100px {
  width: 100px;
  height: 100px;
}

.block {
  display: block;
}

.txt-align-center {
  text-align: center;
  margin: 0;
}

.pad-top-50px {
  padding-top: 50px;
}

.pad-bttm-50px {
  padding-bottom: 50px;
}

.pad-l-200px {
  padding-left: 200px;
}

.pad-r-200px {
  padding-right: 200px;
}

.b-black {
  background-color: black;
}

.b-white {
  background-color: white;
}

.searchButton{
  width:100px;
  margin-bottom: 15px;
}

.width-25x{
  width:25%;
}

.height-80vh {
 height: 80vh;
}

.size-50px {
font-size:50px;
}

.size-20px {
  font-size:20px;
  }

.searchButton {
  width: 100px;
  margin-bottom: 15px;
}

