.SignupPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  max-width: 500px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.pad-40 {
  padding: 40px;
}

.margin-top-20 {
  margin-top: 20px;
}