.TattoistList {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

li {
  /* border: 1px solid black; */
  border-radius: 8px;
  list-style-type: none;
  box-shadow: 1px 1.5px 1.5px 0.5px black;
  margin-top: 20px;
  padding: 2px 2px 2px 2px
}
.appointmentList {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  font-weight: bolder;
}
/* .tattoistImage {
  height: 50px;
  width: 50px;
  background-color: red;
} */
.MapContainer {
  width: 100%;
  height: 100%;
  margin-left: 100px;
  margin-top: 40px;

  position: fixed;
  top: 50px;
  left: 500px;
  border-radius: 8px;
}

.calendar-client {
  display: block;
}

.MainMap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 170px;
}

.image-container {
  display: flex;
  justify-content: flex-start;

  /* border: 1px solid black; */
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.name-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.adressContainer {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}
