.top {
  background-image: url("/images/BackgroundSubHeader.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 0;
  padding: 0;
}
h3 {
  margin: 0;
}
h3,
p {
  color: white;
  text-align: center;
}
input {
  height: 30px;
  width: 300px;
}
button {
  height: 30px;
  width: 50px;
}
.search {
  background-color: red;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
