@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  font-family: "Nunito", sans-serif;
}
body {
  font: 14px/1.5 "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}

footer {
  bottom:0;
  width:100%;
}

/* .HomePage {
  background-image: url(`../public/images/BackGroundSubHeader.svg`);
  background-size: cover;
  background-repeat: no-repeat;
 } */

.navbar-user-dropdown {
  background-color: #000000;
  box-shadow: 0 0px 2px white;
  padding: 20px 40px;
  height: 80px;
  color: #ffffff;
  box-sizing: border-box;
  justify-content: space-between;
}

.navbar-user-dropdown .navbar-limiter nav {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0 0 0 60px;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.flex {
  display: flex;
}

.hei-100vh {
  height: 100vh;
}

.j-cont-center {
  justify-content: center;
}

.white {
  color: white;
}

.black {
  color: black;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  border-radius: 5px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
}

input {
  height: 30px;
  width: 300px;
}

button {
  width: 100%;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}

.extra-style {
  padding: 14px 16px;
}

.padding-l-r-14 {
  padding-left: 14px;
  padding-right: 14px;
}


footer{
  display: flex;
  background-color: black;
  color: white;
  height: 50px;
  justify-content: center;
  font-family: 'Nunito';
  font-weight: bolder;
}